body{
  background-color: #FCFCFC;
}
#header{
  font-size: 50px;
}
.container{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.content{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.button{
  color: black
}

/* SEARCH BAR */
#actions{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}

#searchInput{
  padding: 6px;
  font-size: 17px;
}

/* TABLE FOOTER */

#pageGroup{
  height: 100px;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

/* LOADING STYLE */

.loader{
  width: 120px;
  height: 120px;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

@media only screen and (max-width: 900px){
  .content{
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 380px){

  #actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
  }

  #searchInput{
    padding: 6px;
    font-size: 17px;
    width: 90vw
  }
  
}
